<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand d-flex align-items-center gap-2 mb-0 pinyon-script-regular">
      <img
        ngSrc="assets/images/logo_teste.png"
        alt=""
        width="50"
        height="50"
        priority
      />
      Yuri e Lucas
    </span>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="main-navigation"
      [attr.aria-label]="
        menuExpanded() ? 'Fechar menu de navegação' : 'Abrir menu de navegação'
      "
      [attr.aria-expanded]="menuExpanded()"
      [class.collapsed]="!menuExpanded()"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="main-navigation"
      class="collapse navbar-collapse"
      [class.show]="menuExpanded()"
    >
      <ul class="navbar-nav nav-pills ms-lg-auto">
        <li class="nav-item">
          <button
            type="button"
            class="nav-link"
            [class.active]="activeLink() === Links.HOME"
            [attr.aria-current]="activeLink() === Links.HOME ? 'page' : null"
            (click)="onLinkClick(Links.HOME)"
          >
            Home
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.CONFIRMAR"
            [attr.aria-current]="activeLink() === Links.CONFIRMAR ? 'page' : null"
            (click)="onLinkClick(Links.CONFIRMAR)"
          >
            Confirmar
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.PRESENTES"
            [attr.aria-current]="activeLink() === Links.PRESENTES ? 'page' : null"
            (click)="onLinkClick(Links.PRESENTES)"
          >
            Presentes
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.GALERIA"
            [attr.aria-current]="activeLink() === Links.GALERIA ? 'page' : null"
            (click)="onLinkClick(Links.GALERIA)"
          >
            Galeria
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.MURAL"
            [attr.aria-current]="activeLink() === Links.MURAL ? 'page' : null"
            (click)="onLinkClick(Links.MURAL)"
          >
            Mural
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.PADRINHOS"
            [attr.aria-current]="activeLink() === Links.PADRINHOS ? 'page' : null"
            (click)="onLinkClick(Links.PADRINHOS)"
          >
            Padrinhos
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.PLAYLIST"
            [attr.aria-current]="activeLink() === Links.PLAYLIST ? 'page' : null"
            (click)="onLinkClick(Links.PLAYLIST)"
          >
            Playlist
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link disabled-link"
            [class.active]="activeLink() === Links.ADM"
            [attr.aria-current]="activeLink() === Links.ADM ? 'page' : null"
            (click)="onLinkClick(Links.ADM)"
          >
            _
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
