.navbar-brand.disabled-link,
.nav-link.disabled-link {
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}

.navbar-brand.disabled-link,
.nav-link.disabled-link,
.navbar-brand.disabled-link:hover,
.nav-link.disabled-link:hover,
.navbar-brand.disabled-link:focus,
.nav-link.disabled-link:focus {
  text-decoration: none;
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.8;
}
